In [1]:
import pandas as pd

cal_dates = pd.read_csv("data\calendar_dates.txt",sep=",")
trips = pd.read_csv(r'data\trips.txt',sep=",")
path = pd.read_csv("data\pathways.txt",sep=",")
routes = pd.read_csv(r'data\routes.txt',sep=",")
shapes = pd.read_csv("data\shapes.txt",sep=",")
stop_times = pd.read_csv(r'data\stop_times.txt',sep=",")
stops = pd.read_csv(r'data\stops.txt',sep=",")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
cal_dates["date"].unique()

array([20190423, 20190424, 20190425, 20190426, 20190429, 20190430,
       20190502, 20190503, 20190506, 20190507, 20190508, 20190509,
       20190510, 20190513, 20190514, 20190515, 20190516, 20190517,
       20190520, 20190521, 20190522, 20190523, 20190524, 20190527,
       20190528, 20190529, 20190530, 20190531, 20190421, 20190422,
       20190427, 20190428, 20190501, 20190504, 20190505, 20190511,
       20190512, 20190518, 20190519, 20190525, 20190526, 20190601],
      dtype=int64)

In [3]:
path.head()

,pathway_id,pathway_type,from_stop_id,to_stop_id,traversal_time,wheelchair_traversal_time
0,LM4KF1-LM4KFA,3,LM4KF1,LM4KFA,30,-1
1,LM4KF1-LM4KFB,3,LM4KF1,LM4KFB,150,-1
2,LM4KF1-LM4KFC,3,LM4KF1,LM4KFC,150,-1
3,LM4KF1-LM4KFD,3,LM4KF1,LM4KFD,180,-1
4,LM1OPV-F01079,1,LM1OPV,F01079,30,-1

In [11]:
#routes.loc[routes["route_type"] == 4] hajóútvonalak száma
cal_dates

               service_id      date  exception_type
0        B05716AHPKP-0011  20190423               1
1        B05716AHPKP-0011  20190424               1
2        B05716AHPKP-0011  20190425               1
3        B05716AHPKP-0011  20190426               1
4        B05716AHPKP-0011  20190429               1
5        B05716AHPKP-0011  20190430               1
6        B05716AHPKP-0011  20190502               1
7        B05716AHPKP-0011  20190503               1
8        B05716AHPKP-0011  20190506               1
9        B05716AHPKP-0011  20190507               1
10       B05716AHPKP-0011  20190508               1
11       B05716AHPKP-0011  20190509               1
12       B05716AHPKP-0011  20190510               1
13       B05716AHPKP-0011  20190513               1
14       B05716AHPKP-0011  20190514               1
15       B05716AHPKP-0011  20190515               1
16       B05716AHPKP-0011  20190516               1
17       B05716AHPKP-0011  20190517               1
18       B05716AHPKP-0011  20190520               1
19       B05716AHPKP-0011  20190521               1
20       B05716AHPKP-0011  20190522               1
21       B05716AHPKP-0011  20190523               1
22       B05716AHPKP-0011  20190524               1
23       B05716AHPKP-0011  20190527               1
24       B05716AHPKP-0011  20190528               1
25       B05716AHPKP-0011  20190529               1
26       B05716AHPKP-0011  20190530               1
27       B05716AHPKP-0011  20190531               1
28       B05717ASVKP-0011  20190421               1
29       B05717ASVKP-0011  20190422               1
...                   ...       ...             ...
10204    B96722AHPHB-0031  20190530               1
10205    B96722AHPHB-0031  20190531               1
10206  B96723RA1HCMAA-051  20190520               1
10207  B96723RA1HCMAA-051  20190521               1
10208  B96723RA1HCMAA-051  20190522               1
10209  B96723RA1HCMAA-051  20190523               1
10210  B96724RA1HCMAA-051  20190527               1
10211  B96724RA1HCMAA-051  20190528               1
10212  B96724RA1HCMAA-051  20190529               1
10213  B96724RA1HCMAA-051  20190530               1
10214  B96726RA1PPMAA-051  20190524               1
10215  B96729RA1PPMAA-051  20190531               1
10216    B96730AHCRG-0031  20190506               1
10217    B96730AHCRG-0031  20190507               1
10218    B96730AHCRG-0031  20190508               1
10219    B96730AHCRG-0031  20190509               1
10220    B96730AHCRG-0031  20190527               1
10221    B96730AHCRG-0031  20190528               1
10222    B96730AHCRG-0031  20190529               1
10223    B96730AHCRG-0031  20190530               1
10224    B96731APPRG-0031  20190510               1
10225    B96731APPRG-0031  20190531               1
10226  B96734RAAHCSZL-011  20190520               1
10227  B96734RAAHCSZL-011  20190521               1
10228  B96734RAAHCSZL-011  20190522               1
10229  B96734RAAHCSZL-011  20190523               1
10230  B96735RAAPPSZL-011  20190524               1
10231    B96736AHCMAA-081  20190502               1
10232    B96738APPMAA-081  20190503               1
10233   B96739K1HPtz-0021  20190423               1

[10234 rows x 3 columns]

In [5]:
shapes.head()

  shape_id  shape_pt_sequence  shape_pt_lat  shape_pt_lon  shape_dist_traveled
0     0285             100001     47.519630     19.148313                  0.0
1     0285             100002     47.519657     19.148286                  4.0
2     0285             100003     47.519839     19.148638                 35.0
3     0285             100004     47.520584     19.150246                182.0
4     0285             100005     47.520674     19.150432                199.0

In [6]:
stop_times.head()
#stop_times[stop_times["stop_id"] == "F02034"][stop_times["trip_id"].isin(lst)].sort_values("arrival_time").reset_index(drop=True)
#stop_times[stop_times["trip_id"].isin(lst)].sort_values("arrival_time")
#stop_sorttimes = stop_times[stop_times["stop_id"] == "F02034"].sort_values("arrival_time").reset_index(drop=True)
#[stop_times["trip_id"] == "B95774109"]
#stop_sorttimes[283:290]

,trip_id,stop_id,arrival_time,departure_time,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,B0571610,F04181,08:03:00,08:03:00,0,NaN,NaN,NaN,0.0
1,B0571610,F04526,08:06:00,08:06:00,1,NaN,NaN,NaN,160.0
2,B0571611,F04526,08:30:00,08:30:00,0,NaN,NaN,NaN,0.0
3,B0571611,F04181,08:33:00,08:33:00,1,NaN,NaN,NaN,160.0
4,B0571612,F04181,08:33:00,08:33:00,0,NaN,NaN,NaN,0.0

In [9]:
routes.head()
#routes[132:137].drop(["route_long_name","route_type"],axis=1)

,agency_id,route_id,route_short_name,route_long_name,route_type,route_desc,route_color,route_text_color
0,BKK,0050,5,NaN,3,"Pasaréti tér / Rákospalota, Kossuth utca",009FE3,FFFFFF
1,BKK,0070,7,NaN,3,"Albertfalva vasútállomás / Újpalota, Nyírpalot...",009FE3,FFFFFF
2,BKK,0075,7E,NaN,3,"Blaha Lujza tér M / Újpalota, Nyírpalota út",009FE3,FFFFFF
3,BKK,0078,7G,NaN,3,"Cinkotai autóbuszgarázs / Újpalota, Nyírpalota út",009FE3,FFFFFF
4,BKK,0085,8E,NaN,3,"Kelenföld vasútállomás M / Újpalota, Nyírpalot...",009FE3,FFFFFF

In [8]:
stops.head()
#stops[stops["stop_name"] == "Szent Imre Kórház"]

,stop_id,stop_name,stop_lat,stop_lon,stop_code,location_type,parent_station,wheelchair_boarding,stop_direction
0,002133,"Örs vezér tere M+H, déli tárolótér",47.500366,19.135700,NaN,NaN,NaN,2.0,NaN
1,002136,Fogas üzem (kapu),47.509119,19.014403,NaN,NaN,NaN,NaN,NaN
2,002138,Kőbánya alsó vasútállomás,47.483139,19.127891,NaN,NaN,NaN,2.0,NaN
3,003002,Puskás Ferenc Stadion M,47.500368,19.103406,NaN,NaN,NaN,NaN,NaN
4,003103,"Káposztásmegyer, Mogyoródi-patak",47.598778,19.121447,NaN,NaN,NaN,NaN,NaN

In [7]:
trips.head()
#lst = trips[trips["route_id"] == "1530"][trips["trip_headsign"] == "Infopark"]["trip_id"]
#trips[trips["route_id"] == "1530"][trips["trip_headsign"] == "Infopark"]

,route_id,trip_id,service_id,trip_headsign,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed,boarding_door
0,8140,B0571610,B05716AHPKP-0011,"Soroksár, Molnár-sziget",0,B05716AHPKP-0011_1,Y701,1,1.0,2.0
1,8140,B0571611,B05716AHPKP-0011,Csepel-Királyerdő,1,B05716AHPKP-0011_1,Y702,1,1.0,2.0
2,8140,B0571612,B05716AHPKP-0011,"Soroksár, Molnár-sziget",0,B05716AHPKP-0011_1,Y701,1,1.0,2.0
3,8140,B0571613,B05716AHPKP-0011,Csepel-Királyerdő,1,B05716AHPKP-0011_1,Y702,1,1.0,2.0
4,8140,B0571614,B05716AHPKP-0011,"Soroksár, Molnár-sziget",0,B05716AHPKP-0011_1,Y701,1,1.0,2.0